p{
    color: darkgreen;
    font-size: 25px;
    font-family:方正少儿_GBK;
}

a:hover{
    font-size:30px;
    background-color: greenyellow;
}

a:active{
    color: darkblue;
    background-color: greenyellow;
}

a{
    color: darkgreen;
    font-size: 25px;
    font-family:方正少儿_GBK;
    background-color: greenyellow;
}

h1{
    color: darkgreen;
    font-size: 45px;
    font-family:方正少儿_GBK;
    text-align: center
}
h2{
    color: darkgreen;
    font-size: 35px;
    font-family:方正少儿_GBK;
    text-align: center
}
h3{
    color: darkgreen;
    font-size: 25px;
    font-family:方正少儿_GBK;
}
select{
    color: darkgreen;
    font-size: 15px;
    font-family:方正少儿_GBK;
}

